<br/>

<div class="jumbotron" style="background-color: #d6eae4">
  <h1 class="display-4"> {{ stock.quote.companyName }} ({{ stock.quote.symbol }})</h1>
  
<strong> Latest Price: </strong>${{ stock.quote.latestPrice }}<br/>
<strong> Previous Close: </strong>${{ stock.quote.previousClose }}<br/>
<strong> Percent Change: </strong>{{ stock.quote.changePercent }}%<br/>
<strong> Market Cap: </strong>${{ stock.quote.marketCap }}<br/>
<strong> YTD Change: </strong>{{ stock.quote.ytdChange  }}%<br/>
<strong> 52wk High: </strong>{{ stock.quote.week52High }}<br/>
<strong> 52wk Low: </strong>{{ stock.quote.week52Low }}<br/>

</div>
<br/><br/><br/>

{{#each stock.news}}
    {{#each this}}
         {{!-- {{@key}}:{{this}}<br/> --}}
         {{this.datetime}}
    {{/each}}<br/>
{{/each}}



{{!-- {{#each stock}}
    {{@key}}: {{this}}<br/>
{{/each}} --}}
